In [6]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [13]:
ser1=Series(np.arange(3),index=['x','y','z'])
ser1

x    0
y    1
z    2
dtype: int32

In [14]:
ser2=Series(np.arange(5),index=['a','b','c','d','e'])
ser2

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [17]:
pd.concat([ser1,ser2])

x    0
y    1
z    2
a    0
b    1
c    2
d    3
e    4
dtype: int32

In [18]:
pd.concat([ser1,ser2],axis=1)

    0   1
a NaN   0
b NaN   1
c NaN   2
d NaN   3
e NaN   4
x   0 NaN
y   1 NaN
z   2 NaN

In [19]:
ser1=Series(np.arange(3),index=['a','d','e'])
ser2=Series(np.arange(5),index=['a','b','c','d','e'])
pd.concat([ser1,ser2],axis=1)

    0  1
a   0  0
b NaN  1
c NaN  2
d   1  3
e   2  4