In [1]:
import pandas as pd
import numpy as np
from scipy import sparse

In [2]:
df=pd.read_csv('BOOK1.csv',encoding='utf-8')
df

   USER PRODUCT CATEGOLY
0     A       a      ズボン
1     A       c      ズボン
2     A       e      ズボン
3     B       a      ズボン
4     B       d      ズボン
5     B       e      ズボン
6     C       b      ズボン
7     C       e      ズボン
8     C       f      ズボン
9     D       g      シャツ
10    D       h      シャツ
11    E       h      シャツ
12    E       i      シャツ
13    E       j      シャツ
14    A       k     スカート
15    A       l     スカート
16    B       m     スカート
17    C       k     スカート
18    C       l     スカート
19    D       l     スカート
20    E       m     スカート

In [3]:
df=df.pivot_table('CATEGOLY',index='USER',columns='PRODUCT',aggfunc='count')
df

PRODUCT    a    b    c    d    e    f    g    h    i    j    k    l    m
USER
A        1.0  NaN  1.0  NaN  1.0  NaN  NaN  NaN  NaN  NaN  1.0  1.0  NaN
B        1.0  NaN  NaN  1.0  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0
C        NaN  1.0  NaN  NaN  1.0  1.0  NaN  NaN  NaN  NaN  1.0  1.0  NaN
D        NaN  NaN  NaN  NaN  NaN  NaN  1.0  1.0  NaN  NaN  NaN  1.0  NaN
E        NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  1.0  1.0  NaN  NaN  1.0

In [4]:
df=df.fillna(0)
df

PRODUCT    a    b    c    d    e    f    g    h    i    j    k    l    m
USER
A        1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
B        1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
C        0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
D        0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0
E        0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0

In [6]:
a=sparse.csr_matrix(df.ix[0])

In [7]:
a.data

array([ 1.,  1.,  1.,  1.,  1.])

In [8]:
b=sparse.csr_matrix(df.ix[1])

In [11]:
from scipy.spatial.distance import jaccard

In [12]:
jaccard(a,b)

1.0

In [16]:
aa=np.array(df.ix[0])
aa

array([ 1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.])

In [14]:
bb=np.array(df.ix[1])

In [15]:
jaccard(aa,bb)

0.7142857142857143