In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [32]:
df=pd.read_excel('Book1.xlsx', sheetname='Sheet1')

In [33]:
df

  product  yesterday  today
0       A       1200   1000
1       B       1500   1500
2       C        800   1000
3       D        700    700

In [7]:
df['price'] = df['yesterday'].where(df['today'] == df['yesterday'], df['today'])
df

  product  yesterday  today  price
0       A       1200   1000   1000
1       B       1500   1500   1500
2       C        800   1000   1000
3       D        700    700    700

In [40]:
df.assign(PRICE=df.apply(lambda x:
                         x['today'] if x['today'] == x['yesterday'] 
                         else str(x['yesterday']) + str('→') + str(x['today']) if x['today'] < x['yesterday'] 
                         else x['today'], axis=1))

  product  yesterday  today      PRICE
0       A       1200   1000  1200→1000
1       B       1500   1500       1500
2       C        800   1000       1000
3       D        700    700        700