In [54]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

mergeは結合(join)。concatは連結(union)。

In [55]:
frame1=DataFrame({'yasuhiro':['a','b','c'],'key':[1,3,4]})
frame1

   key yasuhiro
0    1        a
1    3        b
2    4        c

In [56]:
frame2=DataFrame({'tomoko':['x','y','z'],'key':[1,3,5]})
frame2

   key tomoko
0    1      x
1    3      y
2    5      z

In [57]:
pd.merge(frame1,frame2)

   key yasuhiro tomoko
0    1        a      x
1    3        b      y

In [58]:
pd.merge(frame1,frame2,how='outer')

   key yasuhiro tomoko
0    1        a      x
1    3        b      y
2    4        c    NaN
3    5      NaN      z

In [59]:
pd.merge(frame1,frame2,how='left')

   key yasuhiro tomoko
0    1        a      x
1    3        b      y
2    4        c    NaN

In [60]:
pd.merge(frame1,frame2,how='inner')

   key yasuhiro tomoko
0    1        a      x
1    3        b      y

In [61]:
s1 = pd.Series([1,2,3,4,5], index=[0,1,2,3,4])
s2 = pd.Series([10,20,30,40,50], index=[10,11,12,13,14])
s3 = pd.Series([100,200,300,400,500], index=[0,2,4,6,8])
pd.concat([s1, s2, s3])

0       1
1       2
2       3
3       4
4       5
10     10
11     20
12     30
13     40
14     50
0     100
2     200
4     300
6     400
8     500
dtype: int64

In [62]:
#axisに1を指定すると、列方向に連結される。そして、同じindexがあれば、同じ行に表示される。
pd.concat([s1, s2, s3], axis=1)

     0   1    2
0    1 NaN  100
1    2 NaN  NaN
2    3 NaN  200
3    4 NaN  NaN
4    5 NaN  300
6  NaN NaN  400
8  NaN NaN  500
10 NaN  10  NaN
11 NaN  20  NaN
12 NaN  30  NaN
13 NaN  40  NaN
14 NaN  50  NaN

In [63]:
#角括弧が必要
pd.concat(frame1,frame2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [64]:
pd.concat([frame1,frame2])

   key tomoko yasuhiro
0    1    NaN        a
1    3    NaN        b
2    4    NaN        c
0    1      x      NaN
1    3      y      NaN
2    5      z      NaN

In [65]:
pd.concat([frame1,frame2],ignore_index=True)

   key tomoko yasuhiro
0    1    NaN        a
1    3    NaN        b
2    4    NaN        c
3    1      x      NaN
4    3      y      NaN
5    5      z      NaN

In [66]:
pd.concat([frame1,frame2],axis=1)

   key yasuhiro  key tomoko
0    1        a    1      x
1    3        b    3      y
2    4        c    5      z