In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [4]:
#辞書型からデータフレーム。辞書型のキーがカラム名になり、valueがデータになる。
data={'yasuhiro':[5.0,4.0,2.0,2.0],'takuro':[4.0,5.0,5.0,10.0]}
data

{'takuro': [4.0, 5.0, 5.0, 10.0], 'yasuhiro': [5.0, 4.0, 2.0, 2.0]}

In [5]:
frame=DataFrame(data)
frame

   takuro  yasuhiro
0       4         5
1       5         4
2       5         2
3      10         2

In [6]:
data={'yasuhiro':[5.0,4.0,2.0,2.0]}
data

{'yasuhiro': [5.0, 4.0, 2.0, 2.0]}

In [7]:
#シリーズは1次元なので、カラムは必要ない。というより、カラムをつけられない。
ser=Series(data)
ser

yasuhiro    [5.0, 4.0, 2.0, 2.0]
dtype: object

In [29]:
#シリーズは1次元なので、カラムは必要ない。というより、カラムをつけられない。
ser=Series(np.arange(5),columns='yasuhiro')
ser

TypeError: __init__() got an unexpected keyword argument 'columns'

In [5]:
data={'yasuhiro':{'a':5.0,'c':4.0,'g':2.0,'h':2.0},'takuro':{'a':4.0,'b':5.0,'f':5.0,'h':10.0},'tomoko':{'a':2.0,'e':2.0,'h':5.0,'i':4.0}}
data

{'takuro': {'a': 4.0, 'b': 5.0, 'f': 5.0, 'h': 10.0},
 'tomoko': {'a': 2.0, 'e': 2.0, 'h': 5.0, 'i': 4.0},
 'yasuhiro': {'a': 5.0, 'c': 4.0, 'g': 2.0, 'h': 2.0}}

In [7]:
frame=DataFrame(data)
frame

   takuro  tomoko  yasuhiro
a       4       2         5
b       5     NaN       NaN
c     NaN     NaN         4
e     NaN       2       NaN
f       5     NaN       NaN
g     NaN     NaN         2
h      10       5         2
i     NaN       4       NaN

In [41]:
df1=DataFrame({'yasuhiro':[1,2,3,4],'key':['a','b','c','d']})
df

  key  taizo
0   a      5
1   b      6
2   c      7
3   d      8

In [44]:
df2=DataFrame({'taizo':range(5,9),'key':['a','b','e','f']})
df

  key  taizo
0   a      5
1   b      6
2   c      7
3   d      8

In [47]:
pd.merge(df1,df2)

  key  yasuhiro  taizo
0   a         1      5
1   b         2      6

In [48]:
#結合の正しい書き方
pd.merge(df1,df2,on='key')

  key  yasuhiro  taizo
0   a         1      5
1   b         2      6

In [49]:
pd.merge(df1,df2,on='key',how='left')

  key  yasuhiro  taizo
0   a         1      5
1   b         2      6
2   c         3    NaN
3   d         4    NaN

In [50]:
pd.merge(df1,df2,on='key',how='outer')

  key  yasuhiro  taizo
0   a         1      5
1   b         2      6
2   c         3    NaN
3   d         4    NaN
4   e       NaN      7
5   f       NaN      8

In [51]:
pd.merge(df1,df2,on='key',how='inner')

  key  yasuhiro  taizo
0   a         1      5
1   b         2      6

In [53]:
lefth=DataFrame({'key1':['Ohio','Ohio','Ohio','Nevada','Nevada'],
               'key2':[2000.2001,2002,2003,2004],
               'data':np.arange(5)})

ValueError: arrays must all be same length

In [14]:
ser1=Series(np.arange(4)*2,index=('a','b','c','d'))
ser1

a    0
b    2
c    4
d    6
dtype: int32

a    False
b    False
c     True
d     True
dtype: bool

In [17]:
ser1[2]

4

In [19]:
ser1['c']

4

In [27]:
ser1[['c','a']]

c    4
a    0
dtype: int32

In [30]:
ser1[[False,False,True,True]]

c    4
d    6
dtype: int32

In [31]:
ser1>3

a    False
b    False
c     True
d     True
dtype: bool

In [32]:
ser1[ser1>3]

c    4
d    6
dtype: int32