In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
#まずフレームを作る
frame=DataFrame(np.arange(12).reshape(6,2),
                index=[2000,2001,2002,2003,2004,2005],
                columns=['Sapporo','Yamagata'])
frame.index.names=['year']
frame.columns.names=['city']
frame

city  Sapporo  Yamagata
year
2000        0         1
2001        2         3
2002        4         5
2003        6         7
2004        8         9
2005       10        11

In [9]:
#こうだと一発
frame=DataFrame(np.arange(12).reshape(6,2),
                index=pd.Index([2000,2001,2002,2003,2004,2005],name='year'),
                columns=pd.Index(['Sapporo','Yamagata'],name='city'))
frame

city  Sapporo  Yamagata
year
2000        0         1
2001        2         3
2002        4         5
2003        6         7
2004        8         9
2005       10        11

In [10]:
#スタックがデータフレームからシリーズへ
frame.stack()

year  city
2000  Sapporo      0
      Yamagata     1
2001  Sapporo      2
      Yamagata     3
2002  Sapporo      4
      Yamagata     5
2003  Sapporo      6
      Yamagata     7
2004  Sapporo      8
      Yamagata     9
2005  Sapporo     10
      Yamagata    11
dtype: int32

In [12]:
frame_st=frame.stack()

In [13]:
#引数の「1」が隠されている
frame_st.unstack()

city  Sapporo  Yamagata
year
2000        0         1
2001        2         3
2002        4         5
2003        6         7
2004        8         9
2005       10        11

In [14]:
#「0」をいれると行と列が逆転する
frame_st.unstack(0)

year      2000  2001  2002  2003  2004  2005
city
Sapporo      0     2     4     6     8    10
Yamagata     1     3     5     7     9    11

In [15]:
frame_st.unstack(1)

city  Sapporo  Yamagata
year
2000        0         1
2001        2         3
2002        4         5
2003        6         7
2004        8         9
2005       10        11

In [16]:
#行は0～1までがあるので、3行目はないのでエラーになる。
frame_st.unstack(2)

IndexError: Too many levels: Index has only 2 levels, not 3

In [20]:
frame.stack(0)

year  city
2000  Sapporo      0
      Yamagata     1
2001  Sapporo      2
      Yamagata     3
2002  Sapporo      4
      Yamagata     5
2003  Sapporo      6
      Yamagata     7
2004  Sapporo      8
      Yamagata     9
2005  Sapporo     10
      Yamagata    11
dtype: int32

In [21]:
#スタックには行や列はないいので、エラーになる。
frame.stack(1)

IndexError: Too many levels: Index has only 1 level, not 2

In [23]:
#引数に書いたものが、列になる
frame_st.unstack('city')

city  Sapporo  Yamagata
year
2000        0         1
2001        2         3
2002        4         5
2003        6         7
2004        8         9
2005       10        11

In [25]:
#引数に書いたものが、列になる
frame_st.unstack('year')

year      2000  2001  2002  2003  2004  2005
city
Sapporo      0     2     4     6     8    10
Yamagata     1     3     5     7     9    11