In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
#辞書型からデータフレーム。これは辞書の中に、辞書型。
data={'yasuhiro':{'a':5.0,'b':2.0,'c':4.0,'e':3.0,'g':2.0,'h':2.0},'takuro':{'a':4.0,'b':5.0,'d':1.0,'f':5.0,'h':10.0},'tomoko':{'a':2.0,'c':1.0,'e':2.0,'f':9.0,'h':5.0,'i':4.0}}

In [3]:
data

{'takuro': {'a': 4.0, 'b': 5.0, 'd': 1.0, 'f': 5.0, 'h': 10.0},
 'tomoko': {'a': 2.0, 'c': 1.0, 'e': 2.0, 'f': 9.0, 'h': 5.0, 'i': 4.0},
 'yasuhiro': {'a': 5.0, 'b': 2.0, 'c': 4.0, 'e': 3.0, 'g': 2.0, 'h': 2.0}}

In [4]:
DataFrame(data)

   takuro  tomoko  yasuhiro
a       4       2         5
b       5     NaN         2
c     NaN       1         4
d       1     NaN       NaN
e     NaN       2         3
f       5       9       NaN
g     NaN     NaN         2
h      10       5         2
i     NaN       4       NaN

In [5]:
data={'yasuhiro':['a','b','c'],'takuro':['a','b','d'],'tomoko':['a','c']}
data

{'takuro': ['a', 'b', 'd'], 'tomoko': ['a', 'c'], 'yasuhiro': ['a', 'b', 'c']}

In [6]:
#データフレームを作るときに、同じ長さじゃなきゃダメ。
DataFrame(data)

ValueError: arrays must all be same length

In [ ]:
data={'yasuhiro':['a','b','c'],'takuro':['a','b','d'],'tomoko':['a','c','e']}
data

In [ ]:
DataFrame(data)

In [ ]:
data1={'yasuhiro':['a','b','c']}
data2={'takuro':['a','b','d']}

In [ ]:
DataFrame({'yasuhiro':['a','b','c'],'data1':[1,2,3]})

In [ ]:
pd.merge(dframe1,dframe2)