In [3]:
import pandas as pd
import numpy as np
from numpy import nan
from pandas import Series,DataFrame

In [10]:
Series([4,7,0,3])

0    4
1    7
2    0
3    3
dtype: int64

In [11]:
Series([4,7],index=['one','two'])

one    4
two    7
dtype: int64

In [12]:
#インデックスとデータ部分が対応していなければエラーになる
Series([4,7,8,9],index=['one','two'])

ValueError: Wrong number of items passed 4, placement implies 2

In [13]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
      'year':[2000,2001,2002,2001,2002],
      'pop':[1.5,1.7,3.6,2.4,2.9]}

In [14]:
frame=DataFrame(data)

In [15]:
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [19]:
DataFrame(data,columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [22]:
df=DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five'])
df

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [27]:
#リストの中に数字
df[0]

KeyError: 0

In [29]:
#リストの中にリスト
df[[0]]

       year
one    2000
two    2001
three  2002
four   2001
five   2002

In [28]:
#リストの中に文字列
df['year']

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

In [30]:
#リストの中にリスト
df[['year']]

       year
one    2000
two    2001
three  2002
four   2001
five   2002

In [34]:
df['year','state']

KeyError: ('year', 'state')

In [36]:
df[['year'],['state']]

TypeError: unhashable type: 'list'

In [32]:
#リストの中に2次元配列
df[['year'],['state']]

TypeError: unhashable type: 'list'

In [35]:
#2つ以上取得したい場合はリストにして渡してあげる。
df[['year','state']]

       year   state
one    2000    Ohio
two    2001    Ohio
three  2002    Ohio
four   2001  Nevada
five   2002  Nevada

▼データを取り出す

■ixメゾットは、行を取り出すメゾット。方法としては、行ラベルを記載するか、行番号を入れるか。

In [38]:
df.ix[0]

year     2000
state    Ohio
pop       1.5
debt      NaN
Name: one, dtype: object

In [39]:
df.ix[0,1]

'Ohio'

In [41]:
df.ix[[0,1],[2,3]]

     pop debt
one  1.5  NaN
two  1.7  NaN

In [42]:
df

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [43]:
df.iloc[[0,1],[2,3]]

     pop debt
one  1.5  NaN
two  1.7  NaN

In [44]:
df.loc[[0,1],[2,3]]

KeyError: 'None of [[0, 1]] are in the [index]'

In [45]:
df.loc[['one','two'],['pop','debt']]

     pop debt
one  1.5  NaN
two  1.7  NaN

In [54]:
#データの冒頭5行を取得
df.head(5)

#データの末尾5行を取得
df.tail(5)

#データフレーム全体のデータ型の確認
df.info()

#データの件数や統計量を確認
df.describe()

#データの型の確認
type(df)

#列のデータ型の確認
type(df['pop'])

#データ型の変更
#今回はprice列が文字列だったのでfloat型に変更
df['pop'] = df['pop'].astype(np.float64)

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, one to five
Data columns (total 4 columns):
year     5 non-null int64
state    5 non-null object
pop      5 non-null float64
debt     0 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 140.0+ bytes

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, one to five
Data columns (total 4 columns):
year     5 non-null int64
state    5 non-null object
pop      5 non-null float64
debt     0 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 140.0+ bytes

In [56]:
type(df)

pandas.core.frame.DataFrame

In [3]:
data.dtype

dtype('float64')

In [4]:
pop={'Nevada':{2001:2.4,2001:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

In [5]:
DataFrame(pop)

      Nevada  Ohio
2000     NaN   1.5
2001     2.9   1.7
2002     NaN   3.6

In [6]:
DataFrame(pop,index=[2003,2001,2002,])

      Nevada  Ohio
2003     NaN   NaN
2001     2.9   1.7
2002     NaN   3.6

In [ ]:
df1=DataFrame(np.arange(12).reshape(4,3),columns=list('abc'),index=['Sapporo','Kawasaki','Shimane','Akita'])
df1

In [ ]:
df2=DataFrame(np.arange(9).reshape(3,3),columns=list('abc'),index=['Sapporo','Yamagata','Kawasaki'])
df2

In [ ]:
df1+df2

In [ ]:
▼軸をずらすと…

In [ ]:
df2=DataFrame(np.arange(9).reshape(3,3),columns=list('cde'),index=['Sapporo','Yamagata','Kawasaki'])
df2

In [ ]:
df1+df2

In [ ]:
df1.add(df2,fill_value=0)

In [ ]:
df3=df1.add(df2,fill_value=0)
df3>3

In [ ]:
df3[2:]

In [ ]:
df3[df3['d']>=4]

In [94]:
frame=DataFrame(np.arange(12).reshape((4,3)),index=list('abcd'),columns=list('123'))
frame

   1   2   3
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [97]:
#シリーズを作る
frame.ix[0]

1    0
2    1
3    2
Name: a, dtype: int32

In [40]:
frame=DataFrame(np.arange(12).reshape((4,3)),index=['2001','2002','2003','2004'],columns=['NY','LA','CA'])
frame

      NY  LA  CA
2001   0   1   2
2002   3   4   5
2003   6   7   8
2004   9  10  11

In [41]:
series=frame.ix[1]
series

NY    3
LA    4
CA    5
Name: 2002, dtype: int32

In [42]:
frame-series

      NY  LA  CA
2001  -3  -3  -3
2002   0   0   0
2003   3   3   3
2004   6   6   6

In [48]:
series1=Series(np.arange(3),index=['NY','LA','DC'])
series1

NY    0
LA    1
DC    2
dtype: int32

In [49]:
frame-series1

      CA  DC  LA  NY
2001 NaN NaN   0   0
2002 NaN NaN   3   3
2003 NaN NaN   6   6
2004 NaN NaN   9   9

In [50]:
frame

      NY  LA  CA
2001   0   1   2
2002   3   4   5
2003   6   7   8
2004   9  10  11

In [51]:
frame.sort_index()

      NY  LA  CA
2001   0   1   2
2002   3   4   5
2003   6   7   8
2004   9  10  11

In [55]:
frame.sort_index(ascending=False)

      NY  LA  CA
2004   9  10  11
2003   6   7   8
2002   3   4   5
2001   0   1   2

In [52]:
frame.sort_index(axis=1)

      CA  LA  NY
2001   2   1   0
2002   5   4   3
2003   8   7   6
2004  11  10   9

In [53]:
frame

      NY  LA  CA
2001   0   1   2
2002   3   4   5
2003   6   7   8
2004   9  10  11

In [54]:
frame.order()

AttributeError: 'DataFrame' object has no attribute 'order'

In [58]:
ser1=Series(np.random.randn(4))

In [60]:
ser1.order()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

2   -1.425992
3   -0.205805
0    0.223687
1    0.529936
dtype: float64

In [61]:
ser2=Series(np.random.randn(100))

In [62]:
ser2.sum()

-11.528039064458806

In [63]:
ser2.mean()

-0.11528039064458806

In [64]:
ser2.describe()

count    100.000000
mean      -0.115280
std        0.940799
min       -2.755663
25%       -0.607408
50%       -0.117536
75%        0.517254
max        2.569548
dtype: float64

In [65]:
frame

      NY  LA  CA
2001   0   1   2
2002   3   4   5
2003   6   7   8
2004   9  10  11

In [71]:
frame.drop('2001')

      NY  LA  CA
2002   3   4   5
2003   6   7   8
2004   9  10  11

In [72]:
frame

      NY  LA  CA
2001   0   1   2
2002   3   4   5
2003   6   7   8
2004   9  10  11

In [73]:
frame.drop('NY',axis=1)

      LA  CA
2001   1   2
2002   4   5
2003   7   8
2004  10  11

In [87]:
data=Series(['NY',nan,'CA'])

In [88]:
data.isnull()

0    False
1     True
2    False
dtype: bool

In [91]:
data.dropna()

0    NY
2    CA
dtype: object

In [92]:
data

0     NY
1    NaN
2     CA
dtype: object

In [93]:
data[data.notnull()]

0    NY
2    CA
dtype: object

In [94]:
data[data.isnull()]

1    NaN
dtype: object

In [25]:
df=DataFrame(np.random.randn(3),
             index=[['Sapporo','Yamagata','Kawasaki'],['a','b','a']])
df

                   0
Sapporo  a -1.486397
Yamagata b -1.516998
Kawasaki a -0.940725

In [15]:
df.swaplevel(0,1)

ValueError: Length mismatch: Expected axis has 5 elements, new values have 10 elements

In [13]:
df[[0]].ix[[1]]

         Sapporo
2002 b -0.566415

In [20]:
df[[1]].ix[[0]]=nan

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [21]:
Series([0,1,2,nan,4])

0     0
1     1
2     2
3   NaN
4     4
dtype: float64

In [23]:
df[[1]].ix[[0]]=10

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
obj=Series([0,1,2,nan,4])

In [25]:
obj[0]=5

In [26]:
obj

0     5
1     1
2     2
3   NaN
4     4
dtype: float64

In [27]:
df[[1]]=5

In [28]:
df

         Sapporo  Kawasaki   Shimane     Akita  Yamagata
2001 a  0.070751         5 -0.078821  1.597769  0.678803
2002 b  1.324200         5 -0.553855  1.305446  1.528476
2003 a  0.368142         5  0.718094  1.011375 -0.161667
2004 b  0.409398         5  0.475909  1.763170  1.754970
2005 a  0.172839         5 -1.176568 -0.174169 -1.989948

In [30]:
df[[1]].[[2]]=10

SyntaxError: invalid syntax (<ipython-input-30-72ced0fc8125>, line 1)

In [34]:
df.index.names=['year','month']
df.columns.names=['city']

In [35]:
df

city         Sapporo  Kawasaki   Shimane     Akita  Yamagata
year month
2001 a      0.070751         5 -0.078821  1.597769  0.678803
2002 b      1.324200         5 -0.553855  1.305446  1.528476
2003 a      0.368142         5  0.718094  1.011375 -0.161667
2004 b      0.409398         5  0.475909  1.763170  1.754970
2005 a      0.172839         5 -1.176568 -0.174169 -1.989948

In [41]:
df.swaplevel('month','year')

TypeError: 'tuple' object is not callable

In [4]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [5]:
dframe2.index.names = ['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [7]:
dframe2.swaplevel('INDEX_1','INDEX_2')
#もとデータが変わるわけではない

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_2 INDEX_1
1       a          0   1   2    3
2       a          4   5   6    7
1       b          8   9  10   11
2       b         12  13  14   15

In [11]:
dframe2.swaplevel(0,1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_2 INDEX_1
1       a          0   1   2    3
2       a          4   5   6    7
1       b          8   9  10   11
2       b         12  13  14   15