In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [14]:
frame=DataFrame({'key1':['a']*2+['b']*3,'key2':np.arange(1,6)})

In [15]:
frame

  key1  key2
0    a     1
1    a     2
2    b     3
3    b     4
4    b     5

In [17]:
frame.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [19]:
frame.drop_duplicates(['key1'])

  key1  key2
0    a     1
2    b     3

In [22]:
frame.drop_duplicates(['key1'],take_last=True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

  key1  key2
1    a     2
4    b     5

In [26]:
frame=DataFrame({'key1':['a']*2+['b']*3,'key2':[1]*2+[2]*3})
frame

  key1  key2
0    a     1
1    a     1
2    b     2
3    b     2
4    b     2

In [25]:
frame.drop_duplicates()

  key1  key2
0    a     1
2    b     2

In [27]:
frame.drop_duplicates('key2')

  key1  key2
0    a     1
2    b     2

In [29]:
frame.drop_duplicates('key2',take_last=True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

  key1  key2
1    a     1
4    b     2