In [1]:
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv('blogdata1.csv')
df

,Blog,china,kids,music,yahoo,want,wrong,service,tech,saying,lots,had,address,working,following
0,The Superficial - Because You're Ugly,0,1,0,0,3,3,0,0,3,0,6,0,1,0
1,Wonkette,0,2,1,0,6,2,1,0,4,5,25,0,0,0
2,Publishing 2.0,0,0,7,4,0,1,3,6,0,0,1,0,0,0
3,Eschaton,0,0,0,0,5,3,2,0,1,0,1,0,1,0
4,Blog Maverick,2,14,17,2,45,11,8,0,4,7,24,2,4,3
5,Mashable!,0,0,0,0,1,0,1,0,0,0,0,0,0,0
6,we make money not art,0,1,1,0,6,0,0,1,0,1,21,3,20,4
7,GigaOM,6,0,0,2,1,0,3,1,0,0,1,0,0,1
8,Joho the Blog,0,0,1,4,0,0,1,0,0,0,4,1,0,0
9,Neil Gaiman's Journal,0,0,0,0,2,1,0,0,3,8,28,0,1,0

In [10]:
#１行目をカラム名にしたくない場合
pd.read_csv('blogdata1.csv',header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Blog,china,kids,music,yahoo,want,wrong,service,tech,saying,lots,had,address,working,following
1,The Superficial - Because You're Ugly,0,1,0,0,3,3,0,0,3,0,6,0,1,0
2,Wonkette,0,2,1,0,6,2,1,0,4,5,25,0,0,0
3,Publishing 2.0,0,0,7,4,0,1,3,6,0,0,1,0,0,0
4,Eschaton,0,0,0,0,5,3,2,0,1,0,1,0,1,0
5,Blog Maverick,2,14,17,2,45,11,8,0,4,7,24,2,4,3
6,Mashable!,0,0,0,0,1,0,1,0,0,0,0,0,0,0
7,we make money not art,0,1,1,0,6,0,0,1,0,1,21,3,20,4
8,GigaOM,6,0,0,2,1,0,3,1,0,0,1,0,0,1
9,Joho the Blog,0,0,1,4,0,0,1,0,0,0,4,1,0,0
10,Neil Gaiman's Journal,0,0,0,0,2,1,0,0,3,8,28,0,1,0

In [11]:
pd.read_csv('blogdata1.csv',nrows=3)

,Blog,china,kids,music,yahoo,want,wrong,service,tech,saying,lots,had,address,working,following
0,The Superficial - Because You're Ugly,0,1,0,0,3,3,0,0,3,0,6,0,1,0
1,Wonkette,0,2,1,0,6,2,1,0,4,5,25,0,0,0
2,Publishing 2.0,0,0,7,4,0,1,3,6,0,0,1,0,0,0

In [16]:
pd.read_csv('blogdata1.csv',index_col=0)

,china,kids,music,yahoo,want,wrong,service,tech,saying,lots,had,address,working,following
Blog,,,,,,,,,,,,,,
The Superficial - Because You're Ugly,0,1,0,0,3,3,0,0,3,0,6,0,1,0
Wonkette,0,2,1,0,6,2,1,0,4,5,25,0,0,0
Publishing 2.0,0,0,7,4,0,1,3,6,0,0,1,0,0,0
Eschaton,0,0,0,0,5,3,2,0,1,0,1,0,1,0
Blog Maverick,2,14,17,2,45,11,8,0,4,7,24,2,4,3
Mashable!,0,0,0,0,1,0,1,0,0,0,0,0,0,0
we make money not art,0,1,1,0,6,0,0,1,0,1,21,3,20,4
GigaOM,6,0,0,2,1,0,3,1,0,0,1,0,0,1
Joho the Blog,0,0,1,4,0,0,1,0,0,0,4,1,0,0
Neil Gaiman's Journal,0,0,0,0,2,1,0,0,3,8,28,0,1,0

In [32]:
df.ix[[0,2,4]]

,china,kids,music,yahoo,want,wrong,service,tech,saying,lots,had,address,working,following
Blog,,,,,,,,,,,,,,
The Superficial - Because You're Ugly,0,1,0,0,3,3,0,0,3,0,6,0,1,0
Publishing 2.0,0,0,7,4,0,1,3,6,0,0,1,0,0,0
Blog Maverick,2,14,17,2,45,11,8,0,4,7,24,2,4,3

In [33]:
df.ix[[0,2,4],[1,3,5]]

                                       kids  yahoo  wrong
Blog
The Superficial - Because You're Ugly     1      0      3
Publishing 2.0                            0      4      1
Blog Maverick                            14      2     11

In [23]:
df.ix[[0,2,4],[1,3,5]]=10
df

,china,kids,music,yahoo,want,wrong,service,tech,saying,lots,had,address,working,following
Blog,,,,,,,,,,,,,,
The Superficial - Because You're Ugly,0,10,0,10,3,10,0,0,3,0,6,0,1,0
Wonkette,0,2,1,0,6,2,1,0,4,5,25,0,0,0
Publishing 2.0,0,10,7,10,0,10,3,6,0,0,1,0,0,0
Eschaton,0,0,0,0,5,3,2,0,1,0,1,0,1,0
Blog Maverick,2,10,17,10,45,10,8,0,4,7,24,2,4,3
Mashable!,0,0,0,0,1,0,1,0,0,0,0,0,0,0
we make money not art,0,1,1,0,6,0,0,1,0,1,21,3,20,4
GigaOM,6,0,0,2,1,0,3,1,0,0,1,0,0,1
Joho the Blog,0,0,1,4,0,0,1,0,0,0,4,1,0,0
Neil Gaiman's Journal,0,0,0,0,2,1,0,0,3,8,28,0,1,0

In [25]:
df=pd.read_csv('blogdata1.csv',index_col=0)
df

,china,kids,music,yahoo,want,wrong,service,tech,saying,lots,had,address,working,following
Blog,,,,,,,,,,,,,,
The Superficial - Because You're Ugly,0,1,0,0,3,3,0,0,3,0,6,0,1,0
Wonkette,0,2,1,0,6,2,1,0,4,5,25,0,0,0
Publishing 2.0,0,0,7,4,0,1,3,6,0,0,1,0,0,0
Eschaton,0,0,0,0,5,3,2,0,1,0,1,0,1,0
Blog Maverick,2,14,17,2,45,11,8,0,4,7,24,2,4,3
Mashable!,0,0,0,0,1,0,1,0,0,0,0,0,0,0
we make money not art,0,1,1,0,6,0,0,1,0,1,21,3,20,4
GigaOM,6,0,0,2,1,0,3,1,0,0,1,0,0,1
Joho the Blog,0,0,1,4,0,0,1,0,0,0,4,1,0,0
Neil Gaiman's Journal,0,0,0,0,2,1,0,0,3,8,28,0,1,0

In [44]:
df[[0]]

                                       china
Blog
The Superficial - Because You're Ugly      0
Wonkette                                   0
Publishing 2.0                             0
Eschaton                                   0
Blog Maverick                              2
Mashable!                                  0
we make money not art                      0
GigaOM                                     6
Joho the Blog                              0
Neil Gaiman's Journal                      0

In [48]:
df[[0],[0]]

TypeError: unhashable type: 'list'

In [40]:
df[[0]].ix[[0]]

                                       china
Blog
The Superficial - Because You're Ugly      0

In [49]:
#df.ix[[[0]],[0]]=10だと値の代入ができるけど、下記の書き方だったらエラーになる
df[[0]].ix[[0]]=10

C:\Users\paulb_000\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app