In [2]:
import pandas as pd
import numpy as np

In [10]:
#日本語の読み込み
pd.read_csv('Book1.csv',encoding='shift-jis').head(3)

  USER PRODUCT CATEGOLY
0    A       a      ズボン
1    A       c      ズボン
2    A       e      ズボン

In [9]:
pd.read_csv('Book2.csv').head(3)

  USER PRODUCT
0    A       a
1    A       c
2    A       e

In [13]:
#１行目をカラム名にしたくない場合
pd.read_csv('Book2.csv',header=None).head(3)

      0        1
0  USER  PRODUCT
1     A        a
2     A        c

In [14]:
#3行目からの読み込み
pd.read_csv('Book2.csv',nrows=3).head(3)

  USER PRODUCT
0    A       a
1    A       c
2    A       e

In [16]:
#いきなりindexを指定する
pd.read_csv('Book2.csv',index_col=0).head(3)

     PRODUCT
USER
A          a
A          c
A          e