In [67]:
import pandas as pd
import numpy as np
from numpy import nan
from pandas import Series,DataFrame

In [1]:
df=pd.DataFrame({'ID':['A','A','A','B','B','C'],'item':['シャツ','ズボン','スカート','シャツ','ニット','ジャケット'],'number':[0.3,0.2,0.5,0.1,0.4,0.6]})
df

NameError: name 'pd' is not defined

In [191]:
df.index = [0 for i in range(6)]
out = df[0:1]
len(df)

6

In [187]:
len(df)

6

In [165]:
def f(a):    
    a.index = [0 for i in range(len(a))]
    del a['ID']
    out = a[0:1]
    for i in range(1, len(a)):
        out = out.join(a[i:i+1], rsuffix='{0}'.format(i))
    return out




df2 = df.groupby(df['ID']).apply(f)
df2

       item item1 item2  number  number1  number2
ID
A  0    シャツ   ズボン  スカート     0.3      0.2      0.5
B  0    シャツ   ニット   NaN     0.1      0.4      NaN
C  0  ジャケット   NaN   NaN     0.6      NaN      NaN

In [161]:
def f(a):    
    a.index = [0 for i in range(len(a))]
    del a['ID']
    out = a[0:1]
    for i in range(1, len(a)):
        out = out.join(a[i:i+1], rsuffix='{0}'.format(i))
    return out

df2 = df.groupby(df['ID']).apply(f)
df2

df3 = DataFrame(df2.to_records())
del df3['level_0']
df3.set_index('ID')

v=list(df['ID'].value_counts())
df3.assign(id_count=v)

  ID   item item1 item2  number  number1  number2  id_count
0  A    シャツ   ズボン  スカート     0.3      0.2      0.5         3
1  B    シャツ   ニット   NaN     0.1      0.4      NaN         2
2  C  ジャケット   NaN   NaN     0.6      NaN      NaN         1

In [158]:
df1=DataFrame(df['ID'].value_counts())
df1.columns=['id_count']
df1

   id_count
A         3
B         2
C         1

In [164]:
df3.join(DataFrame(df['ID'].value_counts()))

ValueError: columns overlap but no suffix specified: Index(['ID'], dtype='object')

In [83]:
df['ID'].value_counts()

A    3
B    2
C    1
Name: ID, dtype: int64

In [82]:
df.groupby('ID').size()

ID
A    3
B    2
C    1
dtype: int64

In [10]:
df['ID']

0    A
1    A
2    A
3    B
4    B
5    C
Name: ID, dtype: object

In [61]:
import pandas as pd
from itertools import chain

df = pd.DataFrame([['A', 111, 'nn'], ['A', 123, 'mm'], ['A', 211, 'op'],['B', 121, 'nm'], ['B', 333, 'nn'],],columns=['ID','number','item'])

df2 = df.groupby('ID').apply(lambda x:pd.DataFrame([[list(x.ID)[0]] + list(chain.from_iterable(zip(x.number, x.item)))])).reset_index(drop=True)

l = (len(df2.columns) - 1) / 2
df2.columns = ['ID'] + list(chain.from_iterable(zip(['number'+str(i+1) for i in range(l)],['item'+str(i+1) for i in range(l)])))

df2

TypeError: 'float' object cannot be interpreted as an integer

In [48]:
id_count = lambda x: 1 if x<100 else 2 if x>100 else 0
id_count(100)

0

In [43]:
i=101
a = 1 if i<100 else 2 if i>100 else 0
a

2

In [49]:
df.assign(id_count = lambda df: df.iloc[i,1]=1 if i==0 else df.iloc[i,1]=df.iloc[i-1,1]+1 if df.iloc[i,0]==df.iloc[i-1,0] else df.iloc[i,1]=1)

SyntaxError: invalid syntax (<ipython-input-49-69aa43470378>, line 1)

In [18]:
for i in range(len(df['ID'])):
    if i==0:
        df.iloc[i,1]=1
    elif df.iloc[i,0]==df.iloc[i-1,0]:
        df.iloc[i,1]=df.iloc[i-1,1]+1
    else:
        df.iloc[i,1]=1

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [35]:
df=pd.DataFrame({'ID':['A','A','A','B','B','C'],'item':['シャツ','ズボン','スカート','シャツ','ニット','ジャケット'],'off':[0.3,0.2,0.5,0.1,0.4,0.6]})
df

  ID   item  off
0  A    シャツ  0.3
1  A    ズボン  0.2
2  A   スカート  0.5
3  B    シャツ  0.1
4  B    ニット  0.4
5  C  ジャケット  0.6

In [9]:
import numpy as np
id_u=np.unique(df['ID'])
id_u

array(['A', 'B', 'C'], dtype=object)

In [10]:
c_name=range(1,df['id_count'].values.max()+1)
df_yoko=pd.DataFrame(index=[id_u],columns=[['item','off']*df['id_count'].values.max()])
df_yoko

  item  off item  off item  off
A  NaN  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN  NaN

In [11]:
for n,k in zip(df_yoko.index,np.arange(len(df_yoko.index))):
    d_copy=df[df['ID']==n]
    try:
        for j in c_name:
            df_yoko.iloc[k,j*2-2]=d_copy.iloc[j-1,2]
            df_yoko.iloc[k,j*2-1]=d_copy.iloc[j-1,3]
    except:
        df_yoko.iloc[k,j*2-2]="NaN"
        df_yoko.iloc[k,j*2-1]="NaN"
df_yoko

    item  off item  off  item  off
A    シャツ  0.3  ズボン  0.2  スカート  0.5
B    シャツ  0.1  ニット  0.4   NaN  NaN
C  ジャケット  0.6  NaN  NaN   NaN  NaN

In [10]:
for n,k in zip(df_yoko.index,np.arange(len(df_yoko.index))):
    try:
        for j in c_name:
            d1=df[(df['ID']==n)& (df['id_count']==j)]
            df_yoko.iloc[k,j-1]=d1.iloc[0,2]
    except:
        df_yoko.iloc[k,j-1]="NaN"
df_yoko

       1    2     3
A    シャツ  ズボン  スカート
B    シャツ  ニット   NaN
C  ジャケット  NaN   NaN

In [17]:
df

  ID  id_count   item  off
0  A         1    シャツ  0.3
1  A         2    ズボン  0.2
2  A         3   スカート  0.5
3  B         1    シャツ  0.1
4  B         2    ニット  0.4
5  C         1  ジャケット  0.6

In [1]:
for n in df_yoko.index:
    print n

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-1-7344030fcd95>, line 2)

In [2]:
for k in np.arange(len(df_yoko.index)):
    print k

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-2-8946932c895d>, line 2)

In [3]:
for j in c_name:
    print j

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-3-93711d43ff12>, line 2)

In [4]:
for j in c_name:
    d1=df[(df['ID']==n)& (df['id_count']==j)]
    print d1

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-4-c9025c7495b8>, line 3)